# Vectors

The sequence of data elements of the same basic type is called as a vector.

In [1]:
v1 <- c("a", "b", "c"); v1
v2 <- c(1, 2, 3, 4); v2
v3 <- c(TRUE, FALSE, FALSE); v3

[1] "a" "b" "c"

[1] 1 2 3 4

[1]  TRUE FALSE FALSE

In [2]:
length(v1)

[1] 3

In [3]:
v4 <- c(v2, v3); v4

[1] 1 2 3 4 1 0 0

In [4]:
v5 <- c(v1, v3); v5

[1] "a"     "b"     "c"     "TRUE"  "FALSE" "FALSE"

## Vector Arithmetics

Multiply a vector by a constant.

In [5]:
v22 <- 2 * v2; v22

[1] 2 4 6 8

Add two vectors together.

In [6]:
v2 + v22

[1]  3  6  9 12

Subtraction, multiplication and division.

In [7]:
v2 - v22
v2 + v22
v2 / v22

[1] -1 -2 -3 -4

[1]  3  6  9 12

[1] 0.5 0.5 0.5 0.5

If two vectors  are of unequal length?

In [8]:
v33 <- c(3, 4, 5); v22; v33; v22 + v33

[1] 2 4 6 8

[1] 3 4 5

Warning message in v22 + v33:
"uzun olan nesne uzunluğu kısa olan nesne uzunluğunun bir katı değil "

[1]  5  8 11 11

## Vector Index

__"[]"__ operator is used to retrieve values in a vector. <br> __Negative index__ is used to strip the member whose position has the same absolute value as the negative index.

In [9]:
v33[2]; v33[-2];

[1] 4

[1] 3 5

A numeric index vector

In [10]:
v33[c(1, 2)]

[1] 3 4

In [11]:
 v33[c(-1, -2)]

[1] 5

Index order

In [12]:
v33[c(2, 1)]

[1] 4 3

Duplicate values

In [13]:
v33[c(1, 1, 2)]

[1] 3 3 4

__":"__ operator is used to produce a vector slice between two indexes.

In [14]:
v33[1:3]

[1] 3 4 5

A logical index vector

In [15]:
v33[c(TRUE, FALSE, TRUE)]

[1] 3 5

Named Vector Members

In [ ]:
ins <- c("Ali", "Ajder")
ins

In [ ]:
names(ins) <- c("Name", "Surname")

In [ ]:
ins["Name"]

In [ ]:
ins[c("Surname", "Name")]

# Matrix

A __matrix__ contains data arranged in a multi-dimensional layout.

In [ ]:
M = matrix(c(1, 2, 3, 4, 5, 6), nrow=3, ncol=2, byrow = FALSE); M

Retrieve the element at 1rd row, 2nd column

In [ ]:
M[1, 2]

The entire 2nd row elements

In [ ]:
M[2,]

The entire 2nd column elements

In [ ]:
M[,2]

Also

In [ ]:
M[c(1,3),]

__"t()"__ function is used to transpose of a matrix.

In [ ]:
t(M)

For combining two matrices __cbind__ (for columns) and __rbind__ (for rows) can be used.

In [ ]:
M1 = matrix(c(7,8,9), nrow=3, ncol=1, byrow = TRUE); M1

In [ ]:
M2 = cbind(M, M1); M2

__"c()"__ function is used to deconstruct a matrix, which combines all column vectors into one.

In [ ]:
c(M2)

# List

The different objects can be added into a __list__. List is a generic.

In [ ]:
num = c(1, 2, 3) 
str = c("a", "b") 
bol = c(TRUE, TRUE, FALSE,FALSE) 
lis = list(num, str, bol); lis

In [ ]:
str(lis)

__"[]"__ operator is used to retrieve a list slice.

In [ ]:
lis[2]

The index vector can be used to retrieve multiple members from the list.

In [ ]:
lis[c(1,3)]

__"[[]]"__ (the double square bracket) operator is used to reference a list member directly.

In [ ]:
lis[[2]]

In [ ]:
lis[[2]][1] = "c"

In [ ]:
lis[2]

## Named List Member

__Names__ can be assigned to 'list members' for retrieving them later.

In [ ]:
lis1 = list(Ali=c(100, 50, 75), Mert=c("a", "b"))

In [ ]:
lis1

List slicing

In [ ]:
lis1["Ali"]

Using with an index vector,

In [ ]:
lis1[c("Ali", "Mert")]

__"[[]]"__ operator or __"$"__ sign can be used to reference a list member.

In [ ]:
lis1[["Ali"]]; lis1$Ali

__"attach()"__ function is used to add R search path the list and access its members without explicitly mentioning the list. <br> __Note:__ __"detach()"__ should be used for cleanup.

In [ ]:
attach(lis1)

In [ ]:
lis2 = list(Ali=c(100, 50, 75, 25), Mert=c("a", "b"))

In [ ]:
lis1 = list(Ali=c(100, 50, 75), Mert=c("a", "b"))

In [ ]:
attach(lis1); attach(lis2)

In [ ]:
Ali

In [ ]:
detach(lis2)

In [ ]:
detach(lis1)

In [ ]:
Ali