# Data Types in R

Several basic _data types_ in __R__.

## Numeric

In order to assign a value (a decimal value in this example) to a variable, "<-", "=", "->" signs can be used.

In [1]:
a = 1.5

In [2]:
a

[1] 1.5

Using "class()" function, the class name of a can be printed.

In [3]:
class(a)

[1] "numeric"

Assignment an "integer" to a variable b, it is still being stored as a "numeric" value.

In [4]:
b <- 2; b

[1] 2

In [5]:
class(b)

[1] "numeric"

## Integer

In order to assign an integer value to a variable in R, "integer()" function or "L" suffix can be invoked.

In [6]:
c <- as.integer(4); c

[1] 4

In [7]:
str(c)

 int 4

In [8]:
d <- 5L; d

[1] 5

In [9]:
class(c)
class(d)

[1] "integer"

[1] "integer"

Note: "b", "c" and "d" values can be compared using "is.integer()" function.

In [10]:
is.integer(b); is.integer(c); is.integer(d)

[1] FALSE

[1] TRUE

[1] TRUE

__Examples:__ Try the following assignments.

In [12]:
e <- as.integer(5.5); e
f <- as.integer(FALSE); f
g <- as.integer("6.5"); g
h <- as.integer("ali"); h
j <- as.integer(TRUE); j

[1] 5

[1] 0

[1] 6

Warning message in eval(expr, envir, enclos):
"Zorlamadan dolayı ortaya çıkan NAs"

[1] NA

[1] 1

## Complex

"i" imaginary value is used in order to create a complex value in R.

In [13]:
z <- 1 + 1i; z

[1] 1+1i

In [14]:
class(z)

[1] "complex"

In [15]:
Re(z)

[1] 1

In [16]:
Arg(z)

[1] 0.7853982

__Note:__ −1 is not a complex value.

In [17]:
sqrt(-1)

Warning message in sqrt(-1):
"NaNs üretimi"

[1] NaN

In [18]:
z1 <- 1 + sqrt(-1+0i); z1

[1] 1+1i

Or "as.complex" function can be used to coerce -1 as a complex value.

In [19]:
z2 <- 1 + sqrt(as.complex(-1)); z2

[1] 1+1i

## Logical

Comparing variables often results a logical value.

In [20]:
x1 <- 1
x2 <- 2
x <- x1 < x2; x

[1] TRUE

In [21]:
class(x)

[1] "logical"

"&" (and), "|" (or), and "!" (negation) are the logical operations.

In [22]:
a <- TRUE; b <- FALSE

In [23]:
!a; a | b; a & b;

[1] FALSE

[1] TRUE

[1] FALSE

## Character

The "as.character()" function is used to convert objects into character values.

In [24]:
c = as.character(1.3); c

[1] "1.3"

In [25]:
class(c)

[1] "character"

In order to create a readable string, the "sprintf()" function can be used.

In [26]:
sprintf("Statistics grade of %s is %d out of 100.", "Ali", 95)

[1] "Statistics grade of Ali is 95 out of 100."